# WLAN
wlandict = {0:['SSID1','Pwd1'],1:['SSID2','pwd2'],2:['SSID3','pwd3']}


# Pins
DHT22_PIN = 12
LCD_PIN_SDA=4
LCD_PIN_SCL=5
LED_PIN=14

## Thingspeak vars
THINGSPEAK_CHANNEL_ID = '' # put your key here
THINGSPEAK_WRITE_KEY = '' # put your key here
THINGSPEAK_MQTT_KEY = '' # put your key here
THINGSPEAK_URL = b"mqtt.thingspeak.com" 
THINGSPEAK_USER_ID = b'' # put your user id here

# timings in seconds
MEASUREMENT_INTERVAL = 60 
DELAY = 5
